{% extends "todo/base.html" %}
{% load static %}
{% load compress %}
{% load crispy_forms_tags %}
{% block pageName %}List-{{object.name}}{% endblock pageName %}
{% block extraCss %}
    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap3-wysiwyg/bootstrap3-wysihtml5.min.css" %}">
    {% compress css %}
        <link rel="stylesheet" href="{% static "todo/css/Listdetail.css" %}">
    {% endcompress %}
{% endblock extraCss %}

{% block extraJsLib %}
    <script src="{% static "lib/bootstrap3-wysiwyg/bootstrap3-wysihtml5.all.min.js" %}" type="text/javascript"></script>
{% endblock extraJsLib %}

{% block body %}

<h1>List - {{object.name}}

<button class="btn btn-primary btn-lg" data-toggle="modal"
data-target="#ItemFormBlock">
    <i class="fa fa-plus fa-2x"></i>
</button>
<a href="{% url 'todo:list:list' %}" class="btn btn-info btn-lg"><i class="fa fa-backward fa-2x"></i>
</a>
</h1>

{# there is add itemForm #}

<div class="modal fade" id="ItemFormBlock" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
                &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Item Form
                </h4>
            </div>
            <div class="modal-body">
                {% crispy form %}
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
{# end ItemForm #}

{# message block #}
<div id="msg"></div>
{# end message block#}

{% comment %}
div.tasks.block>ul.tasks>((li.task>div.task-headline>a.task-anchor{task $}^+div.task-content>p{this is task$ content})*10)
{% endcomment %}


<div class="tasks-block">
    <ul class="tasks">
    {% for obj in object.item_set.all %}


        <li completed="{{obj.completed}}" priority="{{obj.priority}}" class="task priority-{{obj.priority}}">
            <div class="task-headline">
                <div class="row">
                    <div class="col-sm-1">
                        <span class="togglebtn" href="{{obj.get_toggle_url}}">
                        </span>
                    </div>
                    <div class="col-sm-8">
                        <a href="#" class="completed-{{obj.completed}} task-anchor">{{obj.title}}</a>
                    </div>
                    <div class="col-sm-3 operation">
                        <a href="{{obj.get_update_url}}" class="updatebtn btn btn-primary btn-small"></a>
                        <a href="{{obj.get_delete_url}}" class="deletebtn btn btn-danger btn-small"></a>
                    </div>
                </div>
            </div>
            <div class="task-content">
                {{obj.note|safe}}
            </div>
        </li>
    {% endfor %}
    </ul>
</div>



{% endblock body %}

{% block extraJs %}

{% compress js %}
    <script src="{% static "js/ajax_csrf.js" %}"></script>
    <script src="{% static "todo/js/Listdetail.js" %}"></script>
{% endcompress %}
{% endblock extraJs %}
