{% load getpages_tags %}
{% if is_paginated %}
    <div class="pagination" algin="center">
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
                <li><a href="{% url_add_query page=page_obj.previous_page_number %}">&larr;</a>
            {% else %}
                <li class="disabled"><a>&larr;</a>
            {% endif %}
            {% for num in page_obj.page_range %}
               {% if not num %}
                    <li class="disabled"><a>...</a></li>
               {% else %}
                   <li {% if num == page_obj.number %}class="active"{% endif %}>
                        <a href="{% url_add_query page=num %}">{{ num }}</a>
                    </li>
               {% endif %}

            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="{% url_add_query page=page_obj.next_page_number %}">&rarr;</a>
            {% else %}
                <li class="disabled"><a>&rarr;</a>
            {% endif %}
        </ul>
    </div>
{% endif %}
