{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block pageName %}Search{% endblock pageName %}
{% block body %}

    <div class="center">
        {% crispy form %}
    </div>

    {% if object_list %}
    <div>
        <ul class="searchlist">
            {% for result in object_list %}
            <li class="item">
                <div>
                    <div class="headline"><a href="{{ result.object.get_absolute_url }}">{{result.title}}</a></div>
                    <div class="meta">
                        <ul>
                            <li class="written">{{result.object.getSubmitter}}</li>
                            <li class="time">{{result.object.getSubmittedOn|date:"d M Y"}}</li>
                        </ul>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <p class="info">Sorry, result is empty</p>
    {% endif %}

    <div class="text-center row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% include "pagination.html" %}
        </div>
    </div>
{% endblock body %}
